{% extends "base_site.html" %}
{% load i18n common_tags %}

{% block extrahead %}
    {{ block.super }}
    {% include_media %}
{% endblock %}

{% block header %}{% endblock %}

{% block title %}My Projects{% endblock %}

{% block content %}
<div
    style="
        text-align: center;
    "
>
    <div class="logo"
        style="
            font-size: 20em;
            color: #A6CF9C;
            line-height: 0.8em;
            margin-top: 0.1em;
        "
    >I.O.</div>

    <div class="logo">
        <div class="table noborder">
            <div class="row">
                <div class="cell big">I.</div>
                <div class="cell">n</div>
                <div class="cell">d</div>
                <div class="cell">e</div>
                <div class="cell">p</div>
                <div class="cell">e</div>
                <div class="cell">n</div>
                <div class="cell">d</div>
                <div class="cell">e</div>
                <div class="cell">n</div>
                <div class="cell">t</div>
            </div>
            <div class="row">
                <div class="cell big">O.</div>
                <div class="cell">b</div>
                <div class="cell">s</div>
                <div class="cell">e</div>
                <div class="cell">r</div>
                <div class="cell">v</div>
                <div class="cell">a</div>
                <div class="cell">t</div>
                <div class="cell">i</div>
                <div class="cell">o</div>
                <div class="cell">n</div>
            </div>
            <div class="row">
                <div class="cell small">or else</div>
                <div class="cell"></div>
                <div class="cell"></div>
                <div class="cell"></div>
                <div class="cell"></div>
                <div class="cell"></div>
                <div class="cell"></div>
                <div class="cell"></div>
                <div class="cell"></div>
                <div class="cell"></div>
                <div class="cell"></div>
            </div>
            <div class="row">
                <div class="cell big">I.</div>
                <div class="cell">n</div>
                <div class="cell">f</div>
                <div class="cell">o</div>
                <div class="cell">r</div>
                <div class="cell">m</div>
                <div class="cell">a</div>
                <div class="cell">t</div>
                <div class="cell">i</div>
                <div class="cell">o</div>
                <div class="cell">n</div>
            </div>
            <div class="row">
                <div class="cell big">O.</div>
                <div class="cell">v</div>
                <div class="cell">e</div>
                <div class="cell">r</div>
                <div class="cell">l</div>
                <div class="cell">o</div>
                <div class="cell">a</div>
                <div class="cell">d</div>
                <div class="cell"></div>
                <div class="cell"></div>
                <div class="cell"></div>
            </div>
            <!--
            <div class="row">
                <div class="cell small">or else</div>
                <div class="cell"></div>
                <div class="cell"></div>
                <div class="cell"></div>
                <div class="cell"></div>
                <div class="cell"></div>
                <div class="cell"></div>
                <div class="cell"></div>
                <div class="cell"></div>
                <div class="cell"></div>
                <div class="cell"></div>
            </div>
            <div class="row">
                <div class="cell big">I.</div>
                <div class="cell">d</div>
                <div class="cell">i</div>
                <div class="cell">o</div>
                <div class="cell">t</div>
                <div class="cell"></div>
                <div class="cell"></div>
                <div class="cell"></div>
                <div class="cell"></div>
                <div class="cell"></div>
                <div class="cell"></div>
            </div>
            <div class="row">
                <div class="cell big">O.</div>
                <div class="cell">p</div>
                <div class="cell">e</div>
                <div class="cell">r</div>
                <div class="cell">a</div>
                <div class="cell">t</div>
                <div class="cell">o</div>
                <div class="cell">r</div>
                <div class="cell"></div>
                <div class="cell"></div>
                <div class="cell"></div>
            </div>
            -->
        </div>
    </div>

</div>

{% endblock %}
